<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Combo|Margarine|Risque" rel="stylesheet">
</head>

<body>
    <h1 align="center"> Waiters Work SChedule! </h1>
    <div class="error">
        {{messages.error}}
    </div>


    <div class="keys" align="center">
        <h3> Keys: </h3>
        <input type="button" class="Orange" value="Need more waiters">
        <input type="button" class="Green" value="Have enough waiters">
        <input type="button" class="Red" value="Reduce waiters Please">
        </h3>
    </div>
    <br>
    <br>
    <table frame="box" align="center">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>

            <td align="center" colspan="7">

            {{message}}

        </td>
        </thead>


<tr>

            <td class= {{mondayColor}}>
                {{#each Monday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>

            <td class= {{tuesdayColor}}>
                {{#each Tuesday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>

            <td class= {{wednesdayColor}}>
                {{#each Wednesday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>

            <td class= {{thursdayColor}}>
                {{#each Thursday}}
                    <li> {{this}} </li>
                {{/each}}

            </td>

            <td class= {{fridayColor}}>
                {{#each Friday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>

            <td class= {{saturdayColor}}>
                {{#each Saturday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>

            <td class= {{sundayColor}}>
                {{#each Sunday}}
                    <li> {{this}} </li>
                {{/each}}
            </td>
        </tr>
    </table>
<br>
    <form action="/clear" method="post" align="center">
        <input type="submit" class="clear" name="clear" type="submit" value="Reset Weekly Schedule" align="center">
    </form>

</body>
