<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 align="center"> Waiters Work SChedule! </h1>

    <table frame="box" align="center">
        <thead>
        <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
</thead>
<tr>

    <td>
                {{#each Monday}}
                <li> {{this}}  </li>
                    {{/each}}
</td>
<td>
                {{#each Tuesday}}
                <li> {{this}} </li>
                    {{/each}}
</td>
<td>

                {{#each Wednesday}}
                <li> {{this}} </li>
                    {{/each}}
</td>
<td>

                {{#each Thursday}}
                <li> {{this}} </li>
                    {{/each}}

</td>
<td>

                {{#each Friday}} </li>
                <li> {{this}}
                    {{/each}}
</td>
<td>
                {{#each Saturday}}
                <li> {{this}} </li>
                    {{/each}}
</td>
<td>

                {{#each Sunday}}
                <li> {{this}} </li>
                    {{/each}}
                </td>
                </tr>
    </table>



</body>
